name: "Test"
permissions:
  contents: read
on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  # test action works running from the graph
  test:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
    steps:
    - uses: actions/checkout@v4
    - name: Unit test
      run: |
        npm install
        npm run test
        
